<% if (typescript) { %>/// <reference path="../typings/tsd.d.ts" /><% } %>

<% if (framework === 'ng1') { %>

import * as angular from 'angular';

let app = angular.module('app', []);

app.directive('app', () => ({
    template: '<%= appname %> started'
}));

angular.element(document).ready(() => angular.bootstrap(document, ['app']));

<% } else if (framework === 'ng2') { %>

// Polyfills *should* be loaded independently from bundle
import 'angular2/bundles/angular2-polyfills';
import 'reflect-metadata';
import {Component} from 'angular2/core';
import {bootstrap} from 'angular2/platform/browser'

@Component({
    selector: 'app',
    template: '<%= appname %> started'
})
class AppComponent { }

bootstrap(AppComponent);

<% } else if (framework === 'react') { %>

import React from 'react';
import ReactDOM from 'react-dom';

ReactDOM.render((
    <div>
        <%= appname %> started
    </div>
), document.getElementById('app'));

<% } else if (framework === 'none') { %>

console.log('<%= appname %> started');

<% } %>